# Node.js
node_modules/

# npm & Yarn logs
npm-debug.log*
yarn-debug.log*

# Environment variables
.env

# Log files
*.log

# Build directories 
dist/
build/

# TypeScript build info
*.tsbuildinfo

# Babel configuration
.babelrc

# IDE-specific files
.vscode/
.idea/

# Operating system-specific files
.DS_Store
Thumbs.db

# Additional log files
npm-debug.log*